---
const {className, id} = Astro.props
---


<button class={className} id={id}>
   <slot />
</button>

<style>
    button
    {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, -50%);
        font-family: 'Muli', sans-serif;
        color: var(--primary-text-color);
        background-color: #15b0b0;
        border: none;
        padding: 10px 15px;
        height: fit-content;
        width: fit-content;
        box-shadow: var(--box-shadow);
        border-radius: calc(var(--base-border-radius) / 3);
        text-transform: uppercase;
        width: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: opacity .2s ease-in;
    }

    button:hover
    {
        opacity: .8;
        transition: opacity .2s ease-in;
    }

    button:active
    {
        transform: scale(.98) translate(-50%, -50%);
        box-shadow: none;
        transition: none;
    }
</style>