---
import Button from './Button.astro'
const { className, id } = Astro.props;
---

<section class={className} id={id}>
    <Button/>
    <slot />
</section>


<style>
    section
    {
        position: relative;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
</style>