---
import Screen from './Screen.astro'
---

<Screen className="welcome-screen" id="welcome_screen">
    <div class="container welcome-screen-container" id="welcome_screen_container">
        
    </div>
</Screen>